page-import-wallet {
    .login {
        .scroll-content {
            margin-top: 0!important;
        }
        &__container {
            position: absolute;
            top: 0;
            bottom: 0;
            padding: 5vw;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            z-index: 2;
        }

        &__title {
            padding-top: 5vh;
            margin-bottom: 5vh;
        }

        &__error {
            color: rgb(232, 61, 0);
            height: 10vh;
        }

        &__tip {
            padding-top: 10vh;
            a {
                cursor: pointer;
                color: rgb(193, 193, 193);
                text-decoration: none;
            }
        }

        &__button {
            margin-top: 30px;

            button {
                border: 1px solid #008cd9;
                &:hover:not(.disable-hover) {
                    background: none;
                }
            }
        }

        &__password-section {
            padding-left: 2vh;
            padding-right: 2vh;
        }

        .item {
            padding-left: 0;
        }
    }
}