<!-- Generated template for the AlertBurnComponent component -->
<div class="alert-burn" text-center>
  <div class="container">

    <div>
      <img src="assets/imgs/burn-warning.png" alt="">
    </div>
    <div class="title">
      烧伤警告
    </div>

    <div class="desc">
      <div class="name small">旗下节点</div>
      <div class="address small">AaGxLsGLAUTi3wtUuWiYfsXgrpQu2Fk4cd</div>
      <div class="small">正在触发动态烧伤，你的收益下降</div>
    </div>

    <div>
      <button ion-button round full margin-top color="light">确定</button>
    </div>

  </div>




</div>
