<div class="market-detail__title">{{ selectedCoin.symbol }}</div>

<ion-card class="market-detail__card">
	<div class="market-detail__rating" ion-row>
		<ion-col class="market-detail__conversion__title">
			{{ perGas | number:'1.2-4' }}
		</ion-col>

		<ion-col col-4>
			<div class="market-detail__conversion__price">
				{{ selectedCoin.currentPrice | currency:'CNY':'symbol-narrow':'1.1-5' }}
			</div>
			<div class="market-detail__conversion__base">
				GAS
			</div>
		</ion-col>

		<ion-col col-4 class="market-detail__fall-of" float-right>
			<div [ngClass]="{
				  'market-detail__fall-of--red': percent_change_24h && selectedCoin.percent_change_24h.includes('-'),
				  'market-detail__fall-of--green': selectedCoin.percent_change_24h && !selectedCoin.percent_change_24h.includes('-')
				}">
				{{ selectedCoin.percent_change_24h || 'None' }}{{ selectedCoin.percent_change_24h ? '%' : '' }}
			</div>
		</ion-col>
	</div>

	<div class="market-detail__change-container">
		<div class="market-detail__change-data-title" ion-row>
			<ion-col *ngFor="let title of changeTitles">
				{{ title }}
			</ion-col>
		</div>
		<div class="market-detail__change-data" ion-row>
			<ion-col *ngFor="let data of changeData">
				{{ data | number: '1.0-2'}}
			</ion-col>
		</div>
	</div>

	<div class="market-detail__change-actions"
	     ion-row>
		<ion-col
			*ngFor="let title of durationsTitles; index as key">
			<!--(click)="handleActionsClick(durations[title])"
			[class.is-active]="key === durations">-->
			{{ title }}
		</ion-col>
	</div>
</ion-card>
