<!-- Generated template for the ShareAlertComponent component -->
<div class="container" text-center>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/share-wechat.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imgs/share-qq.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imgs/share-friends.png" alt="">
      </ion-col>
      <ion-col>
        <img src="assets/imgs/share-save.png" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
