@import "./variables";

button.otcgo-button {
  background-color: #fff;

  &--colour {
    box-shadow: none;
    background: $primary-color;
  }

  &.rounded {
    border-radius: 30px;
  }

  &--edge {
    border: 1px solid rgb(50, 118, 217);
  }

  &--edge-gray {
    border: 1px solid rgb(222, 222, 222);
  }
}

button.custom-btn{
   width: 70%;
   position: absolute;
   bottom: 5%;
}

