.otcgo-header {
  & ion-navbar.toolbar {
    .toolbar-background {
      background: none;
      border: none;
    }
  }

  &::after {
    background: none;
  }

  /* Add a bottom line */
  &--bl {
    & ion-navbar.toolbar {
      .toolbar-background {
        border-bottom: 1px solid #dedede;
      }
    }
  }
}
