$primary-color: rgb(19, 92, 215);
$background-gradient: linear-gradient(270deg, #2fb1d5, #3276d9) !default;
$shallow-shadow: 5px 5px 10px #efefef;
$black-20: rgb(114, 114, 114);
$--color-white: #fff;
$--color-black: #000;
$--color-grey-light-1: mix($--color-white, $--color-black, 10%) !default;
$--color-grey-light-2: mix($--color-white, $--color-black, 20%) !default;
$--color-grey-light-3: mix($--color-white, $--color-black, 30%) !default;
$--color-grey-light-4: mix($--color-white, $--color-black, 40%) !default;
$--color-grey-light-5: mix($--color-white, $--color-black, 50%) !default;
$--color-grey-light-6: mix($--color-white, $--color-black, 60%) !default;
$--color-grey-light-7: mix($--color-white, $--color-black, 70%) !default;
$--color-grey-light-8: mix($--color-white, $--color-black, 80%) !default;
$--color-grey-light-9: mix($--color-white, $--color-black, 90%) !default;
$--color-grey-light-10: mix($--color-white, $--color-black, 100%) !default;
