page-backup-wallet {
  .backup-wallet {
    .scroll-content {
      margin-bottom: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 0 !important;
      overflow-y: hidden;

      .backup-wallet__content {
        height: 66%;
        padding: 10%;

        display: flex;
        align-items: center;
        flex-direction: column;

        color: rgb(79, 79, 79);

        img {
          margin-bottom: 60px;
          width: 60px;
          height: 60px;
        }
      }

      .backup-wallet__button {
        width: 80%;
      }
    }
  }
}