<ion-card class="card-features">
	<ion-list>
		<!--<button ion-item icon-right>
			<span>最近一笔转入</span>
			<div class="trade-info">
				<p class="trade-date">2018/01/01</p>
				<p class="trade-time">20:00 PM 转入</p>
			</div>
			<ion-icon md="ios-arrow-forward-outline" ios="none" item-end></ion-icon>
		</button>-->
		<button ion-item icon-right (click)="navCtrl.push('Claims')">
			{{ 'PROFILE.claims' | translate }}
			<ion-icon md="ios-arrow-forward-outline" ios="none" item-end></ion-icon>
		</button>
		<!-- <button ion-item icon-right>
           智能合约
           <ion-icon md="ios-arrow-forward-outline" ios="none" item-end></ion-icon>
           </button> -->
	</ion-list>
</ion-card>
<!--<ion-card>
	<button ion-item (click)="logout()">
		{{ 'PROFILE.logout' | translate }}
	</button>
</ion-card>-->
