<ion-card class="card-nav">
	<div class="nav-item" (click)="navPush(item)">
		<img class="card-img"
		     [src]="'assets/imgs/icon-profile_' + item?.icon + '.svg'">

		<span class="card-title">
			{{ 'PROFILE.manage_wallet' | translate }}
		</span>
	</div>

	<div class="nav-item" (click)="navCtrl.push('ContactsPage')">
		<img class="card-img" src="assets/imgs/icon-profile_contacts.svg" alt="">
		<span class="card-title">{{ 'PROFILE.contacts' | translate }}</span>
	</div>

	<div class="nav-item">
		<img class="card-img" src="assets/imgs/icon-profile_tx-history.svg" alt="">
		<span class="card-title">{{ 'PROFILE.histories' | translate }}</span>
	</div>
</ion-card>
