<ion-header>

  <ion-toolbar no-border color="navy">
    <ion-title>节点</ion-title>
    <button ion-button menuToggle right (click)="handleMenu()">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <node-menu></node-menu>

  <div class="join" *ngIf="false">

    <div class="level1" text-center>
      <i><span></span></i>
      <div class="level2">
        <i><span></span></i>
        <div class="level3">
          <i><span></span></i>
          <div class="level4" (click)="gotoJoin()">
            <i><span></span></i>
            加入节点
          </div>
        </div>

      </div>

    </div>


    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div text-center class="balance">
              <h3>SEAC余额</h3>
              <h3>3000,000</h3>
            </div>

          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="join" *ngIf="true">

    <div class="info">
      <div>团队锁仓总额: 10k</div>
      <div>直推人数: 8</div>
    </div>

    <div class="level1" text-center>
      <i><span></span></i>
      <div class="level2">
        <i><span></span></i>
        <div class="level3">
          <i><span></span></i>
          <div class="level4">
            <i><span></span></i>
            炼气
          </div>
        </div>

      </div>

    </div>


    <div class="earn-info">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div text-center class="earn">
              <div class="name">SEAS总收益</div>
              <div class="value">1000,000</div>
            </div>



          </ion-col>

          <ion-col>
            <div text-center class="btn">
              <button ion-button color="dark" small round (click)="gotoPick()">提取SEAS</button>
              <button ion-button color="dark" small round (click)="gotoStatus()">收益详情</button>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
