<!-- <node-header></node-header> -->
<ion-header>
  <!-- <ion-toolbar no-border color="navy">
    <ion-title>节点</ion-title>
    <button ion-button menuToggle right (click)="handleMenu()">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar> -->
  <node-header title="节点"></node-header>
</ion-header>

<ion-content>

  <node-menu [isMenu]="isMenu"></node-menu>

  <div class="join" *ngIf="!isJoin">

    <div class="sigin">
      <div *ngIf="joinTitle"> <button ion-button round full margin-top small color="light">{{joinTitle}}</button>
      </div>
    </div>

    <div class="level1" text-center>
      <i><span></span></i>
      <div class="level2">
        <i><span></span></i>
        <div class="level3">
          <i><span></span></i>
          <div class="level4" (click)="gotoJoin()">
            <i><span></span></i>
            加入节点
          </div>
        </div>

      </div>

    </div>


    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div text-center class="balance">
              <h3>SEAC余额</h3>
              <h3>{{seacBanlance}}</h3>
            </div>

          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="join" *ngIf="isJoin">

    <div class="sigin" *ngIf="node.smallareaburned || node.burned">
      <div> <button ion-button round full margin-top small color="light">你已触发动态烧伤</button>
      </div>
    </div>

    <div class="info">
      <div>团队锁仓总额: {{node.performance}}</div>
      <div>直推人数: {{node.referrals}}</div>
      <div>{{belowNodeNum}}</div>
    </div>

    <div class="level1" text-center>
      <i><span></span></i>
      <div class="level2">
        <i><span></span></i>
        <div class="level3">
          <i><span></span></i>
          <div class="level4">
            <i><span></span></i>
            {{node.nodelevel}}星
          </div>
        </div>

      </div>

    </div>


    <div class="earn-info">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div text-center class="earn">
              <div class="name">SEAS总收益</div>
              <div class="value">{{bonus.total || '0'}}</div>
            </div>



          </ion-col>

          <ion-col>
            <div text-center class="btn">
              <div>
                <button ion-button color="dark" small round (click)="gotoPick()">提取SEAS</button>

              </div>

            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>


  <!-- <div>
    <button ion-button round full margin-top margin-bottom type="submit" (click)="share()" color="light">分享</button>
  </div> -->

  <!-- <share-alert></share-alert> -->

</ion-content>
