manage-wallet-play {
  ion-header.otcgo-header {
    * > * {
      color: white;
    }
  }

  ion-content {
    background-image: url('../assets/imgs/bg-manage-wallet.png');
    background-position: center top;
    background-size: cover;

    .scroll-content {
      overflow-y: hidden;
    }
  }
}
