<ion-content padding class="send-modal__content" fixed>
	<div class="content-header">
		<button ion-button icon-only clear (click)="dismiss()" float-end>
			<ion-icon name='close'></ion-icon>
		</button>
	</div>

	<form class="container" [formGroup]="sendForm" #sendDir="ngForm" (submit)="transfer()">
		<h5>转账</h5>

		<ion-item class="round">
			<ion-input placeholder="收款人钱包地址" formControlName="address" required></ion-input>
			<ion-icon item-end *ngIf="toAddress.valid" name="checkmark" style="color: #3094d6;"></ion-icon>
			<ion-icon item-end *ngIf="toAddress.invalid && (toAddress.dirty || toAddress.touched) && toAddress.errors.invalidAddress" name="close" style="color: red;"></ion-icon>
		</ion-item>

		<div class="tooltips">
			<div class="icon" (click)="qrScan()">
				<img src="assets/imgs/icon-send-modal_scan.svg" alt="">
			</div>
			<div class="icon">
				<img src="assets/imgs/icon-send-modal_contact.svg" alt="">
			</div>
		</div>

		<ion-item class="round">
			<ion-input placeholder="密码" type="password" formControlName="passphrase" required></ion-input>
		</ion-item>

		<!--<ion-item class="checkbox">
			<ion-label>记住密码</ion-label>
			<ion-checkbox formControlName="rememberPassphrase" type="password"></ion-checkbox>
		</ion-item>-->

		<ion-item class="round">
			<ion-input
				type="number" placeholder="转账数量" formControlName="amount"
				[value]="amount.value"
				[max]="possessionData.amount"
				required></ion-input>
			<ion-icon item-end *ngIf="amount.valid" name="checkmark" style="color: #3094d6;"></ion-icon>
			<ion-icon item-end *ngIf="amount.invalid && (amount.dirty || amount.touched) && amount.errors.invalidAmount" name="close" style="color: red;"></ion-icon>
		</ion-item>

		<ion-list class="amount-range">
			<ion-range step="1" min="0" [max]="possessionData.amount"
			           formControlName="amount">
				<ion-label range-left>0</ion-label>
				<ion-label range-right>{{ possessionData.amount }}</ion-label>
			</ion-range>
		</ion-list>

		<ion-item class="round">
			<ion-input placeholder="备注" formControlName="label"></ion-input>
		</ion-item>

		<div class="spacer"></div>

		<button ion-button round full class="otcgo-button--colour" type="submit">转账</button>
	</form>
</ion-content>