<accordion>
	<expansion-panel class="expansion-demo-width"
	                 #myPanel>
		<expansion-panel-header>
			<panel-title>{{ translationPrefix + 'title' | translate }}</panel-title>
      <p>{{ selectedLanguage }}</p>
		</expansion-panel-header>

		<button ion-button clear full text-capitalize
            *ngFor="let lang of languages"
            (click)="localeClick.emit(lang.locale)"
            [disabled]="!lang.enabled">
			<span>{{ lang.title }}</span>
		</button>

	</expansion-panel>
</accordion>
