@import "../../../theme/variables";

page-node-status {
  .content {
    background: color($colors, navy);

    color: white;

    .info {
      width: 80%;
      margin: 10px auto;
      background: white;
      padding: 1.5rem;

      color: black;

    }

    .info2 {
      width: 80%;
      margin: 10px auto;
    }

    .list {
      width: 80%;
      margin: 10px auto;

      .balance {
        .btn {
          height: 2rem;
          margin-top: 1.4rem
        }
      }



      h5 {
        span {
          font-size: 0.9rem;
        }
      }

      .item {
        background: #393a5f;
        margin-top: 10px;

        .time {
          font-size: 1.6rem;

          span {
            font-size: 0.9rem;
          }
        }

        .num {
          font-size: 1.6rem;

          span {
            font-size: 0.9rem;
          }
        }
      }

    }

    .name {
      font-size: 1rem
    }

    .value {
      font-size: 2rem
    }
  }
}
