@import "../core/common-theme/elevation";

.expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
  @include elevation-transition;
  @include overridable-elevation(2);

  &:focus,
  &:hover {
    outline: none;
  }

  &.expanded:focus,
  &.expanded:hover {
    background: inherit;
  }

  &:not([aria-disabled='true']) {
    cursor: pointer;
  }

  & .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
  }
}

.expansion-panel-header-title,
.expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  vertical-align: middle;
  align-items: center;
  margin-right: 16px;
}

.expansion-panel-header-description {
  flex-grow: 2;
}

.expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
}