@import "../../../theme/variables";

page-node-rule {
  .content {
    background: color($colors, navy);

    // color: white;

    .container {
      background-size: 100%;
      height: 100%;
    }
  }

}
