@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '../theme/otcgo/main';

.home {
  background-color: color($colors, primary);
  color: color($colors, light);
  margin-top: 30px;
}

.toolbar-title {
  text-align: center;
}

.tabs-md .tab-button-icon {
  color: #ccc;
}

