<ion-slide>
	<div class="card">
		<div class="mw__label" [style.top]="labelTop">
			{{ label }}
		</div>

		<div class="close" (click)="onRemove.emit(account)" *ngIf="showClose">
			<div class="icon"><ion-icon name="close"></ion-icon></div>
		</div>

		<div class="mw__header" ion-row>
			<ion-col class="mw__header__left">
				<div class="mw__title">{{ gas | number:'1.1-2' }} <span>GAS</span></div>
			</ion-col>
		</div>

		<div class="mw__header-price" ion-row>
			<ion-col class="mw__subtitle">
				≈ {{ amount | currency:oCurrency.toUpperCase():'symbol-narrow':'1.1-4' }}
			</ion-col>
		</div>

		<div class="mw__changes-feature">
			<ion-input class="mw__changes__input"
			           placeholder="{{ 'PROFILE.MANAGE_WALLET.change_name' | translate }}"
			           [(ngModel)]="tempLabel"></ion-input>
		</div>

		<div class="mw__exports-feature" *ngIf="!account.lock">
			<h5 text-left>{{ 'PROFILE.MANAGE_WALLET.export' | translate }}</h5>
			<!--<button ion-button class="otcgo-button&#45;&#45;edge-gray mw__exports" clear block icon-right (click)="handlePrivateKeyClick(account)">
				导出 私钥
				<ion-icon md="ios-arrow-forward-outline" ios="none" item-end></ion-icon>
			</button>-->

			<button ion-button
			        class="otcgo-button--edge-gray mw__exports"
			        clear
			        block
			        icon-right
			        (click)="handleWIFClick(account)">
				{{ 'PROFILE.MANAGE_WALLET.export_wif' | translate }}
				<ion-icon md="ios-arrow-forward-outline" ios="none" item-end></ion-icon>
			</button>

			<button ion-button
			        class="otcgo-button--edge-gray mw__exports"
			        clear
			        block
			        icon-right
			        (click)="handleEncryptedClick(account)">
				{{ 'PROFILE.MANAGE_WALLET.export_key' | translate }}
				<ion-icon md="ios-arrow-forward-outline" ios="none" item-end></ion-icon>
			</button>

			<!--<button ion-button
			        class="otcgo-button&#45;&#45;edge-gray mw__exports"
			        clear
			        block
			        icon-right>
				{{ 'PROFILE.MANAGE_WALLET.export_file' | translate }}
				<ion-icon md="ios-arrow-forward-outline" ios="none" item-end></ion-icon>
			</button>-->

			<!--<button ion-button
			        class="otcgo-button&#45;&#45;edge-gray mw__exports"
			        clear
			        block
			        icon-right
			        (click)="handleOpenLocationClick()">
				打开钱包文件所在位置
			</button>-->
		</div>

		<div class="mw__exports-action">
			<button ion-button class="otcgo-button--colour" block round
			        (click)="handleSaveClick(account)">{{ 'PROFILE.MANAGE_WALLET.save' | translate }}</button>
			<a [class.is-default]="isDefault"
			   (click)="!isDefault && onSetDefault.emit(account)">
				{{ translationPrefix + (isDefault ? 'default' : 'default_action') | translate }}</a>
		</div>
	</div>
</ion-slide>
