page-settings {
  .expansion-panel-header {
    color: rgb(114, 112, 111);
  }

  .expansion-panel {
    button[ion-button] {
      width: 99%;
      color: rgb(114, 112, 111);

      .button-inner {
        justify-content: space-between;
        border-bottom: 1px solid #efefef;

        .subtitle {
          color: rgb(224, 224, 224);
        }
      }
    }

    button[ion-button]:last-child .button-inner {
      border-bottom: none;
    }
  }

  .btn {
    width: 90%;
    margin: 0 auto;
  }
  //  .scroll-content {
  //    padding: 0
  //  }
}
