page-settings {
  .expansion-panel-header {
    color: rgb(114, 112, 111);
  }

  .expansion-panel {
    button[ion-button] {
      width: 99%;
      color: rgb(114, 112, 111);

      .button-inner {
        justify-content: space-between;
        border-bottom: 1px solid #efefef;

        .subtitle {
          color: rgb(224, 224, 224);
        }
      }
    }

    button[ion-button]:last-child .button-inner {
      border-bottom: none;
    }
  }

  .btn {
    width: 90%;
    margin: 0 auto;
  }

  //  .scroll-content {
  //    padding: 0
  //  }

  .version {
    color: black;
    position: absolute;
    bottom: 5rem;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    z-index: 999;
  }

  ion-card {
    margin: 5px 0 0 0 !important;
    width: 100% !important;

    ion-card-content {
      text-align-last: right;
    }

    expansion-panel-header {
      height: 48px;
    }
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #175bd7;
    z-index: 1000;




    // .addresslist {
    //   .card {
    //     margin: 0px !important;
    //     width: 100%;
    //   }

    //   position: absolute;
    //   bottom: 0;
    //   width: 100%;
    //   height: 400px;
    //   background: white;

    //   button {
    //     margin-top: 1rem;
    //   }

    //   .selected {
    //     background: #175bd7;
    //     color: white;
    //   }
    // }
  }

}
