page-login {
    ion-content .scroll-content {
        margin-bottom: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0 !important;
        overflow-y: hidden;
    }
    .title {
        position: absolute;
        top: 20px;
    }
    ion-list.login-list {
        position: relative;
        width: 80%;

        ion-item.login-input {
            width: 95%;
            transition: all 0.2s ease-in-out;
            margin-bottom: 10px;

            &.item-input-has-focus.input-has-focus + button.login-import {
                opacity: 0;
            }

            &.ng-dirty.ng-valid + button.login-import {
                opacity: 0;
            }
            .item-inner {
                border: none;
            }
            &.rounded {
                width: 100%;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 50px;
                border: 1px solid rgb(222, 222, 222);
            }
        }
        ion-item.pws-input {
            width: 95%;
        }
    }
    button.login-import {
        position: absolute;
        top: 1px;
        right: 1px;
        font-size: 1.4rem;
        z-index: 20;
        padding: 0 6px;

        min-height: 4.4rem;
        width: 50px;

        color: #fff;
        background: linear-gradient(270deg, rgb(47, 177, 213), rgb(47, 177, 213) 6%, rgb(50, 118, 217));
        box-shadow: rgba(0, 147, 211, 0.5) -3px 0 4px 0px;
        border-radius: 50px;

        transition: all 0.2s ease-in-out;

        & .icon {
            width: 1.4rem;
            height: 1.4rem;
        }

        &:active,
        &:focus,
        &.is-active {
            & .icon {
                display: none;
            }
            top: 0;
            right: 0;
            height: 55px;
            width: 100%;
            border-radius: 50px;
            box-shadow: none;
            background: linear-gradient(270deg, rgb(47, 177, 213), rgb(50, 118, 217));
        }
    }
    button.login-encryptedKey-switcher {
        position: absolute;
        top: 2px;
        right: 3px;
        z-index: 30;
        background-color: #fff;
        box-shadow: rgba(27, 119, 179, 0.95) -3px 0 4px 0px;
        font-weight: bolder;

        height: 50px;
        width: 50px;
        border-radius: 50px;

        transition: all 0.2s ease-in;

        display: flex;
        justify-content: center;
        align-items: center;

        & .icon {
            height: 2.2rem;
            width: 2.2rem;
        }

        &:active,
        &:focus,
        &.is-active {
            background-color: #488aff !important;
        }
    }
    .login-button {
        width: 80%;

        margin-top: 30px;
        button {
            border: 1px solid #448aff;
            &:hover:not(.disable-hover) {
                background: none;
            }
        }
    }
    .login-tip {
        position: absolute;
        bottom: 20px;
        cursor: pointer;
        a {
            color: rgb(193, 193, 193);
            text-decoration: none;
        }
    }
}