<ion-content class="login">

	<div class="login__container">
		<ion-label class="login__title">
			<h4>{{ 'LOGIN.title' | translate }}</h4>
		</ion-label>

		<form [formGroup]="loginForm" (submit)="login(loginForm)">
			<ion-label class="login__error">
				<h5 *ngIf="wif.invalid && (wif.dirty || wif.touched) && wif.errors.invalidWIF">Invalid WIF format</h5>
			</ion-label>

			<ion-row class="login__wif-section">
				<ion-col>
					<ion-item class="login__wif-input rounded" [class.item-input-has-focus]="!!WIFKey">
						<ion-input type="text" placeholder="{{ 'LOGIN.wif_placeholder' | translate }}" formControlName="wif"></ion-input>
					</ion-item>

					<button
					  class="login__import-button"
					  type="button"
					  [class.is-active]="!isWIFKey"
					  (click)="switchImportBox(fileInput)">
						<span *ngIf="!isWIFKey">{{ importText }}</span>
						<img src="assets/imgs/icon-login_file.svg" alt="" class="icon">
					</button>

					<input accept="text/plain, application/json, .json" type="file" id="fileInput" hidden #fileInput (change)="fileChange(fileInput.files[0])">

					<button
						class="login__wif-switcher"
						type="button"
						*ngIf="!isWIFKey"
						(click)="switchWIFKeyBox()">
						<img src="assets/imgs/icon-login_WIF.svg" alt="" class="icon">
					</button>
				</ion-col>
			</ion-row>

			<ion-row class="login__password-section" *ngIf="isOldWallet">
				<ion-col>
					<ion-item class="login__password-input">
						<ion-input type="password" placeholder="{{ 'LOGIN.password' | translate }}" formControlName="passphrase" required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<button
					  ion-button round block outline
					  [disabled]="loginForm.valid"
					  class="login__button"
					  type="submit">{{ 'LOGIN.login_wallet' | translate }}</button>
				</ion-col>
			</ion-row>
		</form>

		<div class="login__tip">
			<a (click)="navCtrl.setRoot(createWalletPage)">{{ 'LOGIN.tip' | translate }}</a>
		</div>
	</div>

</ion-content>
