page-manage-wallet {
  width: 100%;
  
  ion-header.otcgo-header {
    * > * {
      color: white;
    }
  }

  .mw{
    width: 100%;
  }

  ion-content {
    background-image: url('../assets/imgs/bg-manage-wallet.png');
    background-position: center top;
    background-size: 101%;
    background-color: #0d5cdb !important;

    margin: auto auto;

    .scroll-content {
      overflow-y: hidden;
      margin-bottom: 0 !important;
    }
  }
}

/*remove-account-modal {
  ion-slides {
    margin-top: 56px;
  }
}*/

.mw__exports-actions--box {
  .alert-message {
    color: red;
  }
}

.mw__exports-actions--key {
  .alert-message {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 24px;
    padding: 10px;
    font-weight: bold;
  }
}
