@import "../../../theme/otcgo/variables";

page-market-detail {
  ion-header.otcgo-header {
    .icon {
      color: white;
    }
  }

  .market-detail__content {
    .scroll-content {
      margin-top: 0;
      overflow: hidden;
    }

    .market-detail__background {
      position: absolute;
      height: 45%;

      left: 0;
      right: 0;

      background: linear-gradient(0deg, rgb(47, 177, 213), #2a72da);
      z-index: -1;
    }
  }
}
