<ion-header class="custom-header">

	<ion-navbar transparent>
		<ion-title>
			{{ selectedBalance.symbol }}
		</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding class="send-modal__content" fixed>
	<div class="content-header">
		{{ selectedBalance.amount }} 
	</div>

	<form class="container" [formGroup]="formGroup" #sendDir="ngForm" (submit)="Deposit()">
		<!-- <h5>{{ translationPrefixr + 'describe' | translate }}</h5> -->


		<ion-item class="round" style="margin-top: 5rem;">
			<ion-input
				type="number" placeholder="{{ translationPrefix + 'amount' | translate }}" formControlName="amount"
				[value]="amount.value"
				[max]="selectedBalance.amount"
				required></ion-input>
			<ion-icon item-end *ngIf="amount.valid" name="checkmark" style="color: #3094d6;"></ion-icon>
			<ion-icon item-end *ngIf="amount.invalid && (amount.dirty || amount.touched) && amount.errors.invalidAmount" name="close" style="color: red;"></ion-icon>
		</ion-item>


		<ion-item class="round" *ngIf="!w && inputType">
			<ion-input placeholder="{{ translationPrefix + 'password' | translate }}" type="password" minlength="8" maxlength="16" formControlName="passphrase" required></ion-input>
			<button ion-button clear color="dark" type="button" item-right (click)="displayPwd()">
				<ion-icon name="eye" *ngIf="!inputType"> </ion-icon>
				<ion-icon name="eye-off" *ngIf="inputType"> </ion-icon>
		   </button>
			
			<ion-icon item-end *ngIf="passphrase.valid" name="checkmark" style="color: #3094d6;"></ion-icon>
			<ion-icon item-end *ngIf="passphrase.invalid && (passphrase.dirty || passphrase.touched)" name="close" style="color: red;"></ion-icon>
		</ion-item>


		<ion-item class="round" *ngIf="!w && !inputType">
			<ion-input placeholder="{{ translationPrefix + 'password' | translate }}" type="text" minlength="8" maxlength="16" formControlName="passphrase" required></ion-input>	
			<button ion-button clear color="dark" type="button" item-right (click)="displayPwd()">
				<ion-icon name="eye" *ngIf="!inputType"> </ion-icon>
				<ion-icon name="eye-off" *ngIf="inputType"> </ion-icon>
		   </button>

			<ion-icon item-end *ngIf="passphrase.valid" name="checkmark" style="color: #3094d6;"></ion-icon>
			<ion-icon item-end *ngIf="passphrase.invalid && (passphrase.dirty || passphrase.touched)" name="close" style="color: red;"></ion-icon>
		</ion-item>




		<div class="spacer"></div>

	
		<button ion-button round full class="otcgo-button--colour" type="submit" [disabled] = "btnDisable">{{ translationPrefixr + 'btn_confirm' | translate }}</button>
	</form>

	<div class="explain" >
		{{ translationPrefixr + 'note1' | translate }} <br><br>
		{{ translationPrefixr + 'note2' | translate }}
</div>

</ion-content>
