<!-- Generated template for the SuccessAlertComponent component -->
<div>

  <div class="container-alert" *ngIf="display">
    <div class="success-alert" text-center>
      <div class="emoji">
        <img [src]="icon ?   'assets/imgs/success-icon.png':'assets/imgs/icon-fail.png' " alt="" width="40px"
          height="40px">
      </div>

      <div class="text">
        <div class="operation">{{title}}</div>
        <div class="state">{{result}}</div>
        <div class="des">{{reason}}</div>
      </div>

      <div class="btn">
        <button ion-button round full margin-top small (click)="btnConfirm()" color="light">OK</button>
      </div>

    </div>
  </div>
  <div class="shield" *ngIf="display">

  </div>
</div>
